body {
    font-family: 'Tahoma', sans-serif; /* یک فونت فارسی مناسب انتخاب کنید */
    background-color: #2c3e50;
    color: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* برای اینکه از بالا شروع شود */
    min-height: 100vh;
    margin: 0;
    padding-top: 20px; /* کمی فاصله از بالا */
}

.drum-machine {
    background-color: #34495e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 95%;
    max-width: 1000px; /* حداکثر عرض */
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap; /* برای صفحه های کوچکتر */
}

.controls button, .controls input, .controls select, .controls label {
    padding: 8px 12px;
    margin: 5px;
    border: 1px solid #7f8c8d;
    background-color: #566573;
    color: #ecf0f1;
    border-radius: 4px;
    font-size: 14px;
}
.controls input[type="number"] {
    width: 60px;
}
.controls input[type="text"] {
    width: 150px;
}

.controls button:hover {
    background-color: #7f8c8d;
    cursor: pointer;
}

.sequencer-grid-container {
    overflow-x: auto; /* برای اسکرول افقی در صورت زیاد بودن پله ها */
}

.step-indicators {
    display: flex;
    margin-left: 150px; /* به اندازه عرض نام صدا */
    margin-bottom: 5px;
}

.step-indicator {
    min-width: 30px; /* عرض هر پله */
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: #bdc3c7;
    margin: 1px;
}
.step-indicator.playhead-indicator {
    background-color: rgba(230, 126, 34, 0.7) !important;
    border-radius: 2px;
}


#sequencer-grid {
    display: table; /* برای هم تراز نگه داشتن */
    border-collapse: collapse;
}

.track {
    display: table-row;
    border-bottom: 1px solid #2c3e50;
}

.track-info {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    min-width: 140px; /* عرض ثابت برای نام صدا */
    font-weight: bold;
    background-color: #4a637a;
    border-left: 3px solid #2c3e50;
    text-align: right; /* راست چین برای نام ها */
}

.steps {
    display: table-cell;
    vertical-align: middle;
}

.step {
    display: inline-block; /* برای قرار گرفتن در یک خط */
    width: 30px;
    height: 30px;
    background-color: #566573; /* رنگ پیش فرض پله */
    border: 1px solid #414d59;
    margin: 1px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.1s;
}

.step.active {
    background-color: #1abc9c; /* سبز برای پله فعال */
}
.step.active.playhead {
    background-color: #f39c12; /* نارنجی برای پله فعال در حال پخش */
    box-shadow: 0 0 8px #f39c12;
}
.step.playhead {
    background-color: rgba(230, 126, 34, 0.5); /* نارنجی کم رنگ برای پله در حال پخش */
    box-shadow: inset 0 0 5px #e67e22;
}